<style>
body {
  background: white;
}
</style>

<% if current_user %>
  <nav><strong class="nav_text"><%= current_user.name %></strong>
    <a href="/" class="btn btn-info"><strong>Home</strong></a>
    <a href="/logout" class="btn btn-info"><strong>Logout</strong></a></nav>
<% else %>
  <nav><a href="/" class="btn btn-info"><strong>Home</strong></a>
  <a href="/login" class="btn btn-info"><strong>Login</strong></a></nav>
<% end %>



  <% if session[:user_id].nil? %>
  <% else %>
  <% if session[:user_id] == current_user.id %>
  <h3>Add Items</h3>
  <div class="row lists">
      <%= form_tag('/search', method: "get", id: "item-search") do %>
      <%= text_field_tag :search, params[:search_term], placeholder: "Search Items", required: true %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="row">
    <% if @items_list.nil?  %>
      <% else %>

      <% @items_list.each do |i| %>
        <div class="col-md-3 items">
        <ul>
          <li><img src="<%= i["LargeImage"].first[1]%>" height=150></img></li>
          <li><strong><%= i["ItemAttributes"]["Title"].first(108) %><strong></li>
          <li><a href="<%= i["DetailPageURL"] %>">Amazon Product Page</a></li>
          <% if i["ItemAttributes"]["ListPrice"].nil? %>
          <% else %>
          <li><strong>SRP: <%= i["ItemAttributes"]["ListPrice"]["FormattedPrice"] %><strong></li>
            <% end %>
            <%= form_tag('/save', method: "post", id: "save_item") do %>
            <input type="hidden" name="item_title" value="<%= i["ItemAttributes"]["Title"].first(108) %>"/>
            <input type="hidden" name="item_img" value="<%= i["LargeImage"].first[1]%>"/>
            <input type="hidden" name="item_url" value="<%= i["DetailPageURL"] %>"/>
            <% if i["ItemAttributes"]["ListPrice"].nil? %>
            <% else %>
            <input type="hidden" name="item_price" value="<%= i["ItemAttributes"]["ListPrice"]["FormattedPrice"] %>"/>
            <% end %>
          <li><button class="btn btn-info"> Add Item </button></li>
        </ul>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>
